/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28-dic-2020, 15.59.42
    Author     : pietr
*/
.bcl4-tags {height: auto !important;}
.bcl4-tags-input {border: 0px;}
.bcl4-tags-input:focus{outline: none;}